<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793773567214-2urkgbjtu68g60jbplubur1sv9pbaq5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793773567214-2urkgbjtu68g60jbplubur1sv9pbaq5p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>793773567214-ul52hduq5oo56minlmp3g83taaiunv5k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8oz6OSjILMPtOZYTPhP_b0hTLvwmPOso</string>
	<key>GCM_SENDER_ID</key>
	<string>793773567214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.romanenko.squadix</string>
	<key>PROJECT_ID</key>
	<string>squadix</string>
	<key>STORAGE_BUCKET</key>
	<string>squadix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:793773567214:ios:93891ceb7395aee7b317ff</string>
	<key>DATABASE_URL</key>
	<string>https://squadix.firebaseio.com</string>
</dict>
</plist>
